body {
  min-height: 100vh;
}
body {
  background: rgb(39, 39, 39);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "yel yel purp"
    "re gre purp"
    "re vio vio";
  gap: 30px;
}
div:nth-child(1) {
  background: yellow;
  grid-area: yel;
}
div:nth-child(2) {
  background: purple;
  grid-area: purp;
}
div:nth-child(3) {
  background: green;
  grid-area: gre;
}
div:nth-child(4) {
  background: red;
  grid-area: re;
}
div:nth-child(5) {
  background: orchid;
  grid-area: vio;
}
